html{
    background: #212121;
    padding-top: 0px;
    margin: 0px;
}

.header{
    grid-area: header;
    background: url(thai.png) 100%/cover ;
}
.body{
    grid-area: body;
    background: rgb(108, 24, 17);
    text-align: center;
    color: rgb(242, 177, 78);
}

.container{
    display: grid;
    height: 95%;
    grid-template-rows: 500px 2500px;
    grid-template-areas: 
    'header header header'
    'body body body';
    padding: 0px 5px;
}

.overlay{
    background: rgb(108, 24, 17);
    height: 100px;
    margin-top: 400px;
    grid-column: header-start / body-end;
    grid-row: header-start / body-end;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
}

.title{
    color: rgb(242, 177, 78);
    background: transparent;
    height: 100px;
    margin-top: 210px;
    text-align: center;
    font-size: 80px;
    text-shadow: 5px 5px 10px #212121;
    grid-column: header-start / body-end;
    grid-row: header-start / body-end;
    font-family: 'Acme', sans-serif;
}

div.col-1-2{
    width: 50%;
    float: left;
}


p{
    text-align: initial;
    margin-left: 260px;
    font-size: 20px;
    font-weight: 800;
    padding: 5px;
}

.body h1{
    padding: 10px 0px;
    font-size: 50px;
    font-family: 'Acme', sans-serif;
}

#sItem{
    padding: 10px 0px;
    font-size: 50px;
    font-family: 'Acme', sans-serif;
}

h2{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
}
.item{
    margin-bottom: 10px;
}

.line{
    height: 2250px;
    border: 6px double rgb(242, 177, 78);
    padding: 20px 0px;
    margin: 15px;
}